{{ define "main" }}

{{ partial "head.html" . }}

{{ $baseurl := .Site.BaseURL }}
<header class="breadCrumb">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="breadCrumb__title">{{ .Title }}</h3>
                <nav aria-label="breadcrumb" class="d-flex justify-content-center">
                    <ol class="breadcrumb align-items-center">
                        <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <section class="section blog-page">
                    <div class="container">
                    	Anakha Associates is an established Legal Firm located at 3rd Floor, Court View Building, VANCHIYOOR, Trivandrum, Kerala—695035 (UDYAM-KL-12-0017380). At Anakha Associates, accessible from https://www.advocateanakha.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Anakha Associates and how we use it. If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us at admin@advocateanakha.com. This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Anakha Associates. This policy is not applicable to any information collected offline or via channels other than this website.
                        {{ $plural := .Data.Plural }}
                        {{ range $key, $value := .Data.Terms }}
                        <a href="{{ $baseurl }}/{{ $plural }}/{{ $key }}">{{ $key }}</a>
                        <br>
                        {{ end }}
                    </div>
                </section>
            </div>
            <div class="col-12 text-left">
            	<section class="section blog-page">
            		<div class="container">
            			<b>CONSENT</b> <br>
            			By using our website, you hereby consent to our Privacy Policy and agree to its terms.
            			<br>
            			<br>
            			<b>Information we collect</b> <br><br>

The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.
If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.
When you book a consultation, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.
How we use your information
We use the information we collect in various ways, including to:<br>
* Provide, operate, and maintain our website<br>
* Improve, personalise, and expand our website<br>
* Understand and analyse how you use our website<br>
* Develop new products, services, features, and functionality<br>
* Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes<br>
* Send you emails<br>
* Find and prevent fraud<br>
<br>
<b> Cancellation Policy </b><br>
<br>Booked appointments can be cancelled anytime before the time of meeting itself. Full refund will be processed in such cases. Kindly notify us at admin@advocateanakha.com in case of any assistance. <br><br>
<b>Refund Policy</b>
<br><br>After you book a consultation, we will send you a confirmation email with the "ZOOM" meeting link to join the meeting. In the unfortunate event of the meeting not taking place due to any circumstance, full refund will be provided to the client. If the client does not attend the meeting, full refund will be automatically processed from our end. Incase of any delay, kindly email us at admin@advocateanakha.com. No refunds will be provided if the meeting takes place and client’s queries are addressed. In case we need more time to gather information to better answer your queries, you shall be given an option to opt for refund or attend a rescheduled meeting at no extra cost. Any follow up meetings outside the criteria mentioned above is chargeable and the client needs to book it in advance (subjected to availability). <br>
<br><b>Log Files<br></b>
<br>Anakha Associates follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.<br>
<br><b>Cookies and Web Beacons</b><br>
Like any other website, Anakha Associates uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.
For more general information on cookies, please read "Cookies" article from the Privacy Policy Generator.<br>
        	</div>
        </div>
    </div>
</header>

<section class="section singleBlog">
    <div class="svg-img">
      <img src={{ "images/hero/figure-svg.svg" | absURL }} alt="">
    </div>
    <div class="animate-shape">
      <img src={{ "images/skill/skill-background-shape.svg" | absURL }} alt="">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
        <defs>
          <linearGradient id="d" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
            <stop offset="0" stop-color="#f1f6f9" />
            <stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
          </linearGradient>
        </defs>
        <g data-name="blob-shape (3)">
          <path class="blob" fill="url(#d)"
            d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
        </g>
      </svg>
    </div>
    <div class="animate-pattern">
      <img src={{ "images/service/background-pattern.svg" | absURL }} alt="background-shape">
    </div>
  </section>

{{ end }}
